.corProduto {
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 10px;
}

.cor {
    width: 100px;
    color: var(--cor-cinza-claro);
    display: flex;

}

.selecionaCor {
    width: max-content;
    height: 40px;
    padding-right: 5px;
    border: 1px solid var(--cor-fundo-cinza);
    border-radius: 3px;
    display: flex;
    align-items: center;
}


.branco {
    background-image: url('https://down-br.img.susercontent.com/file/sg-11134201-825au-mev9m7rv0dmqae@resize_w900_nl.webp');
}

.preto {
    background-image: url('https://down-br.img.susercontent.com/file/sg-11134201-825a0-mev9mf7ucxs258@resize_w900_nl.webp');
}

.azul {
    background-image: url('https://down-br.img.susercontent.com/file/sg-11134201-825b0-mev9mac2445c79@resize_w900_nl.webp');
}

.vermelho {
    background-image: url('https://down-br.img.susercontent.com/file/sg-11134201-825at-mev9m8v51fyc93@resize_w900_nl.webp');
}

.verde {
    background-image: url('https://down-br.img.susercontent.com/file/sg-11134201-82588-mev9mbhi53pg18@resize_w900_nl.webp');
}
.branco, .preto, .azul, .vermelho, .verde {
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.selecionaCor:hover {
    cursor: pointer;
    border: 1px solid var(--cor-laranja);
}

.insereBorda {
    border: 1px solid var(--cor-laranja);
}