.corProduto {
    display: flex;
    padding: 20px;
    flex-direction: row;
    gap: 10px;
}

.cor {
    width: 100px;
    color: var(--cor-cinza-claro);
    display: flex;

}

.selecionaCor {
    width: max-content;
    height: fit-content;
    padding-right: 5px;
    border: 1px solid var(--cor-fundo-cinza);
    border-radius: 3px;
    display: flex;
    align-items: center;
}


.icsee, .yoosee {
    background-image: url('https://down-br.img.susercontent.com/file/br-11134207-820m2-mldoez0opm2u79@resize_w900_nl.webp');
}

.icsee, .yoosee {
    background-size: cover;
    width: 20px;
    height: 20px;
    margin: 5px;
}

.selecionaCor:hover {
    cursor: pointer;
    border: 1px solid var(--cor-laranja);
}

.insereBorda {
    border: 1px solid var(--cor-laranja);
}