.containerQuantidade {
    width: 100vw;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    bottom: 0px;
    background-color: white;
    overflow-y: hidden;
    display: flex;
    align-items: space-between;
    flex-flow: column nowrap;
}

.comprar {
    margin: auto;
    width: 90%;
    height: 35px;
    text-align: center;
    font-size: 18px;
    background-color: var(--cor-laranja);
    color: #fff;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ajuste {
    margin-left: -15px;
    max-width: 90%;
    object-fit: contain;
}

.imgProduto {
    width: 30%;
    height: auto;
}

.imgProduto img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.info {
    width: 100%;
    height: auto;
    display: flex;

}

.valor {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-image: linear-gradient(to right, #fff, var(--cor-fundo-laranja));
}

.valorAtual {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--cor-laranja);
}

.valorAnterior {
    padding-left: 5px;
    text-decoration: line-through;
    font-weight: 500;
    color: var(--cor-cinza-escuro);
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;

}

.close [class~='material-symbols'] {
    font-size: 28px;
    color: var(--cor-cinza-medio);
}