:root {
    --cor-laranja: #f6412d;
    --cor-fundo-laranja: #f53e2d35;
    --cor-fundo-laranja-claro: #ffeee8;
    --cor-verde: #3bb2a4;
    --cor-cinza: rgb(73, 73, 73);
    --cor-cinza-medio: #636363;
    --cor-cinza-claro: #929292;
    --cor-fonte-preto: #333333;
    --cor-fundo-cinza: #f5f5f5;
    --cor-amarela: #ffbc1c;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: auto;
    background-color: var(--cor-fundo-cinza);
    overflow-x: hidden;
}

::-moz-selection {
  background: transparent;
}

::selection {
  background: transparent; 
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    .main-section {
        width: 80%;
        padding: 1%;
        max-width: 1250px;
        height: auto;
        margin: 15px auto 0px auto;
        background-color: white;
        overflow-x: hidden;
        box-shadow: 0px 5px 2px -5px rgba(0, 0, 0, 0.1);
    }
    .welcome {
        width: 100%;
        height: auto;
        background-color: var(--cor-fundo-cinza);
    }

    .rodape {
        margin-top: 30px;
    }
}
