@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,900&display=swap');
p{
    padding: 5px 10px;
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    .descricaoProduto {
        p{
        font-family: 'Roboto:ital', Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        font-weight: 550;
        font-style: normal;
        color: var(--cor-fonte-preto);
        }
    }


}