.vendedor {
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
}

.descVendedor {
    width: 40%;
    border-right: 2px solid var(--cor-fundo-cinza);
    display: flex;
}

.imgVendedor img {
    width: 90px;
    border-radius: 50%;
}

.imgVendedor {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.nomeVendedor {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    
        h4 {
            margin-bottom: 0px;
        }
}

.status {
    width: 100%;
    height: fit-content;
    line-height: 1;
    color: var(--cor-cinza);
    font-size: 0.8rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.online {
    width: 8px;
    height: 8px;
    background-image: radial-gradient(circle at center, rgb(0, 208, 17), rgba(0, 128, 0, 0.66));
    border-radius: 50%;
    margin-right: 5px;
}

.opcoesVendedor {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.conversa, .visitarLoja {
    width: 50%;
    font-size: 90%;
    font-weight: 500;
    line-height: 1.4;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 5px;
    border-radius: 2px;
    cursor: pointer;
}

.conversa {
    color: var(--cor-laranja);
    text-align: center;
    background-color: var(--cor-fundo-laranja-claro);
    border: 1px solid var(--cor-laranja);
}

.visitarLoja {
    color: var(--cor-cinza);
    text-align: center;
    border: 1px solid var(--cor-fundo-cinza);
}

.conversa [class*="material-symbols"] {
    font-size: 22px;
}

.visitarLoja [class*="material-symbols"] {
    font-size: 24px;
}

.infoVendedor img {
    width: 90%;
    height: auto;
}

.infoVendedor {
    display: flex;
    justify-content: center;
    align-items: center;
}