.container {
    padding: 20px;
    width: 70%;
    line-height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-cinza);
}

.containerFrete, .icon, .estado {

    max-width: 33%;
    display: flex;
    color: var(--cor-cinza-medio);
    font-size: 0.9rem;
    font-weight: 500;
    
   
}


.nomeEstado {
    font-weight: bold;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
}

.icon span {
    margin-right: 20px;
}

.icon [class~='material-symbols'] {
    color: var(--cor-verde);
}


.valor{
    color: var(--cor-verde);
    font-weight: bold;

}

.valores span{
    display: flex;
    justify-content: flex-start;
    color: var(--cor-verde);
    font-size: 1rem;
}

.frete {
    text-align: right;
}